*{
    border: 0;
    list-style: none;
    margin: 0px;
    outline: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

body{
    background: black;
}

#principal{
    width: 100%;
    margin:auto ;
    border: 0px solid rgb(159, 22, 22);
    background:  black;
}

/*cabezera**/
#header{
    border: 0px solid rgb(16, 174, 84);
    width: 100%;
    z-index: 100;
    transition: .25s padding-top ease-in-out,.25s padding-bottom ease-in-out;
    background: rgb(191, 191, 191);
    position: absolute;
    top: 0;
    position: fixed;
    z-index: 100;
    background: black;
}


#menu ul{
    border: 0px solid yellow;
    height:  40px;
    text-align: right;
    margin: 20px;
    background: transparent;
    overflow: hidden; /* Limpiamos errores de float */
}

#menu ul li{
    border: 0px solid rgb(186, 186, 186);
    display: inline-block;
    margin-right: 60px;
    margin-top: 10px; 
    color: rgb(180, 180, 180);
    transition: all 300ms;
    font-size: 20px;
    text-decoration: none;
}

ul li a{
    text-decoration: none;
    color: rgb(184, 184, 184);
    font-size: 17px;
    
}

ul li a:hover{
    color: rgb(255, 255, 255);
}


.title{
    border: 0px solid rgb(0, 255, 26);
    width: 100%;
    height:  400px;
    position: relative;
    top: 70px;
    text-align: center ;
}

.title h1{
    color: rgb(184, 184, 184);
    text-align: center;
    padding: 10px;
    margin-top: 70px;
}

.title h1:hover{
    color: white;
    cursor: pointer;
}

.title h2{
    color: rgb(184, 184, 184);
    text-align: center;
    margin-top: 15px;
}

.title h2:hover{
    color: white;
    cursor: pointer;
}

.boton {
    --glow-color: rgb(255, 0, 0);
    --glow-spread-color: rgba(252, 79, 79, 0.781);
    --enhanced-glow-color: rgb(255, 206, 206);
    --btn-color: rgb(0, 0, 0);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    margin-top: 60px;
   }
   
   .boton::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   .boton:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
   .boton:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }

   .title .boton a{
    list-style: none;
    text-decoration: none;
    color:rgb(255, 255, 255); 
}

.secciones{
    border: 0px solid rgb(181, 27, 27);
    height: 550px;
    width: 50%;
    border-bottom: 0px solid rgb(255, 255, 255);
    border: 0px solid rgb(255, 255, 255);
    margin-top: 20px;
    position: relative;
    margin: 20px auto;

}


.secciones h2{
    margin-top: 20px;
    color: white;
    text-align: center;
}

.secciones h2 span{
    color: red;
}

.secciones .about{
    color: white;
    width: 350px;
    height: 450px;
    float: left;
    font-size: 20px;
    border: 0px solid yellow;
    text-align: justify;
    margin: 20px auto;
    margin-right: 30px;
    margin-top: 30px;
    position: relative;
    left: 100px;
    padding: 10px;
    
}

.secciones .about:hover{
    cursor: pointer;
    -webkit-transform:scale(1.1);transform:scale(1.1);
}

/*Skills*/



.skill-marco{
    width: 150px;
    height: 150px;
    background: rgb(96, 96, 96);
    float: left;
    margin-top: 20px;
    border-radius: 3px;
    border: 0px solid red;
    position: relative;
    margin-right: 30px;
    left: 100px;
    padding: 10px;
    
}


.skill-marco .skills{
    display: block;
    margin: 25px auto;
    
}

.skill-marco:hover{
    background: rgb(213, 213, 213);
    cursor: pointer;
    box-shadow: 1px 1px 2px white;
}

/*Experiencia*/

.experience{
   
   width: 40% ;
   float: left;
   height: 280px;
   border: 0px solid green;
   margin: auto ;
   margin-top: 30px;
   background: rgb(96, 96, 96);
   border-radius: 5px;
   margin-left: 6%;
   margin-right: 10px;

}

.experience h3{
    text-align: center;
    margin: 5px;
    font-size: 22px;
}

.experience  p{
    text-align: center;
    color: rgb(16, 16, 16);
    font-size: 20px;
    margin: 10px;
}



.experiences{
    border: 0px solid wheat;
    width: 100px;
    height: 100px;
    display: block;
    margin: 25px auto;
    position: relative;
    top: 10px;
        
}

.experience:hover{
    background: rgb(213, 213, 213);
    cursor: pointer;
    box-shadow: 1px 1px 2px white;
 
 }


.contact{
   width: 30% ;
   float: left;
   height: 250px;
   border: 0px solid green;
   margin: 20px auto ;
   margin-left: 2%;
   margin-right: 10px;
   background: rgb(96, 96, 96);
   border-radius: 5px;
}

.contacts{
    border: 0px solid wheat;
    width: 100px;
    height: 100px;
    display: block;
    margin: 25px auto;
    position: relative;
    top: 10px;
        
}

.contact h3{
    text-align: center;
    margin: 5px;
    font-size: 22px;
}

.contact  p{
    text-align: center;
    color: rgb(16, 16, 16);
    font-size: 20px;
    margin: 10px;
}

.contact:hover{
    background: rgb(213, 213, 213);
    cursor: pointer;
    box-shadow: 1px 1px 2px white;
 
 }


.contact .botonLinkedin{
    font-size: 23px;
    color: rgb(0, 0, 0);
    width: 138px;
    height: 48px;
    font-size: 19px;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 4px;
    background: rgb(225, 40, 40);
    position: relative;
    margin: auto;
    margin-top: 10px;
    display: block;


}

.contact a{
   text-decoration: none;
   color: rgb(1, 1, 1);
   
}

.contact .botonLinkedin:hover{
    color: black;
    cursor: pointer;
    border: 1px solid black;
    background: white;
    border-radius: 5px;
}



/*pie pagina*/
footer{
    border: 0px solid green;
    height: 280px;
    background:  rgb(41, 41, 41);

}footer img{
    width: 90px;
    position: relative;
    top: 25px;
    margin: auto;
    margin-right: 100px;
    margin-left: 9%;
   
}

footer p{
    font-size: 20px;
    font-size: 25px;
    color: rgb(193, 193, 193);
    text-align: center;
    margin-top: 80px;
   
}
footer a{
    color: rgb(193, 193, 193);
    text-align: center;
    text-decoration: none;
    position: relative;
    top: 20px;
    left: 923px;
    font-size: 25px;
   
}

footer a:hover{
    color: white;
}



